<template name="role_pick_layout">
    {{#if currentUser}}
        {{#if isInRole 'wolf, cop, bank'}}
        {{else}}
            <div class="container role_pick_container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{pathFor route='wolf'}}" class="wolf"><h1>ВОЛК</h1></a>
                    </div>
                    <div class="col-md-4">
                        <h1>БАНК</h1>
                    </div>
                    <div class="col-md-4">
                        <a href="{{pathFor route='cop'}}" class="cop"><h1>ПОЛИЦЕЙСКИЙ</h1></a>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}
</template>