<template name="dashboard_layout">
    {{#if currentUser}}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    {{> yield "brand"}}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">$30 000</a></li>
                        <li><a href="#">85</a></li>
                        <li>
                            <a href="#" class="logout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Выход
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {{> yield "aside"}}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{> yield "content"}}
        </div>
    {{/if}}
</template>

<template name="wolf_brand">
    {{#if isInRole 'wolf'}}
        <a class="navbar-brand" href="{{pathFor route='wolf'}}">Волк</a>
    {{/if}}
</template>

<template name="wolf_aside">
    {{#if isInRole 'wolf'}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="list-group">
                        <a href="{{pathFor route='wolf.portfolio'}}" class="list-group-item list-group-item-action {{isActiveRoute 'wolf'}}">Портфолио</a>
                        <a href="{{pathFor route='wolf.market'}}" class="list-group-item list-group-item-action {{isActiveRoute 'wolf.market'}}">Фондовый рынок</a>
                        <a href="{{pathFor route='wolf.bank'}}" class="list-group-item list-group-item-action {{isActiveRoute 'wolf.bank'}}">Банк</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>

<template name="cop_brand">
    {{#if isInRole 'cop'}}
        <a class="navbar-brand" href="{{pathFor route='cop'}}">Полицейский</a>
    {{/if}}
</template>

<template name="cop_aside">
    {{#if isInRole 'cop'}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="list-group">
                        <a href="{{pathFor route='cop.work'}}" class="list-group-item list-group-item-action {{isActiveRoute 'cop'}}">Работа</a>
                        <a href="{{pathFor route='cop.bank'}}" class="list-group-item list-group-item-action {{isActiveRoute 'cop.bank'}}">Банк</a>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>

