<template name="wolf_portfolio">
    {{#if isInRole 'wolf'}}
    <h1 class="page-header">Портфолио</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Количество</th>
                    <th>Торги</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    {{/if}}
</template>