<template name="wolf_bank">
    {{#if isInRole 'wolf'}}
    <h1 class="page-header">Банк</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Баланс</h2>
            <h1>$40 000</h1>
        </div>
        <div class="col-md-6">
            <h2>Текущие кредиты</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Взять кредит</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Сумма (в долларах)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Сумма">
                        <div class="input-group-addon">под 15% за ход</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Взять кредит</button>
            </form>
        </div>

        <div class="col-md-6">
            <h2>Дать взятку</h2>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Сумма (в долларах)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Сумма">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Дать взятку</button>
            </form>
        </div>
    </div>
    {{/if}}
</template>