<template name="wolf_market">
    {{#if isInRole 'wolf'}}
    <h1 class="page-header">Фондовый рынок</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Количество в портфолио</th>
                    <th>Количество в продаже</th>
                    <th>Торги</th>
                </tr>
            </thead>
            <tbody>
                {{#each shares}}
                <tr>
                    {{> share}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</template>

<template name="share">
    {{#if isInRole 'wolf'}}
    <td>
        <div class="checkbox">
            <label><input type="checkbox"></label>
        </div>
    </td>
    <td>
        <h4>{{name}}</h4>
    </td>
    <td>
        <h4>{{price}}</h4>
    </td>
    <td>
        <h4>{{countOwned}}</h4>
    </td>
    <td>
        <h4>{{countForSale}}</h4>
    </td>
    <td>
        {{# if $eq status 'up'}}
        <h4 class="text-success"><i class="fa fa-arrow-up" aria-hidden="true"></i> {{percent}} %</h4>
        {{else}}
        <h4 class="text-danger"><i class="fa fa-arrow-down" aria-hidden="true"></i> {{percent}} %</h4>
        {{/if}}
    </td>
    {{/if}}
</template>

<template