<template name="login_page_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">{{> atForm}}</div>
            <div class="col-md-4"></div>
        </div>
    </div>
</template>